<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        {% extends 'base.html' %}
                {% block title %}Página do Aluno{% endblock %}
</head>
<body>
        {% block main %}
        <ul class="menu_perfil">
        <li><a href="#home">Boletim</a></li>
        <li><a href="#news">Disciplinas</a></li>
        <li><a href="#about">SmartClass</a></li>
        <li><a href="{% url 'password_change' %}">Mudar a senha</a>
        </ul>
        {% endblock %}

        {% block main2 %}
        
        <center>
                


        </center>

        {% endblock %}
</form></body>
</html> 