* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #aeb4b5;
    padding: 20px;
    text-align: center;
    color: #32528b;


}

.header img{
    max-width: 100%;
    width:auto ;
}
ul.topnav {
    list-style-type: none;  
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    font-size: 20px;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #32528b;}

ul.topnav li a.active {background-color: #32528b;}



@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #32528b;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.dropdown-content button:hover, button:active, button:focus {
    background: #32528b;
    position: absolute;
    min-width: 160px;
}

.dropdown-content input:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
  .footer {
      background-color: #000000;
      padding: 10px;
      text-align: center;
      color: white;
  }

  .footer img{
    max-width: 100%;
    min-width: 160px;
    height: auto;
    align-content: left ;

  }