

# Django Local:
*.log
local_settings.py

# files DS_Store Mac OSX
.DS_Store

#
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
lib/
lib64/
parts/
sdist/
var/
wheels/

# PyInstaller

*.manifest
*.spec

# pyenv
.python-version

# virtualenv
.venv
venv/
ENV/
