<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        {% extends 'base.html' %}
                {% block title %}Página do Aluno{% endblock %}
                
</head>
<body>
    
        {% block main2 %}
        <center>
                Informações do usuário: <br>
                nome {{ user.nome }} |<br>
                RA {{ user.ra }} |<br>
                email:{{ user.email }} <br>
                curso: {{ user.aluno.curso.sigla }}<br>
                {% for disciplina in disciplinas  %}
                <div>
                        <h2>{{disciplina.nome}}</h2>
                        <ul>
                                {{% for questao in questoes %}} 
                                <li>{{ questao }}</li> 
                                {% empety %} 
                                        <li>Essa disciplina ainda nao possuiu questão</li>
                                {% endfor %} 
                        </ul>
                        <p alss = "acoes">
                                <a href = "#">Adicionar Questao</a>


                        </p>

                </div>
                {% end for %}

        </center>
        <br><br>
        {% endblock %}
</form>
</body>
</html> 