<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="/static/Base_layout.css">
		<link rel="stylesheet" href="/static/font.css">
        <link rel="stylesheet" href="/static/mobile.css" media="(max-width: 320px)">    
        <title>
		{% block title %}

    	{% endblock %}
		</title>
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icone.png">
        
    </head>
    <body>
        <div class="header">
            <img src="/static/impacta1.png">
        </div>            
        <ul class="topnav">
            <li><a class="active" href="/index.html">Home</a></li>
            <li><a href="/lista_cursos.html">Lista de Cursos</a></li>
            <li><a href="/detalhe_curso.html ">Detalhes de Cursos</a></li>
            <li><a href="/disciplina.html">Disciplinas</a></li>
            <li><a href="/noticias.html">Noticias</a></li>
            <li><a href="/contato.html">Contato</a></li>
            <li><a href="#">Sobre</a></li>  
            {% if not user.is_authenticated %}
            <li class="dropdown">
                <a href="/entrar">Login</a>
                {% else %}
                {% if user.perfil == 'A' %}
                <li><a class="link_nav" href="/aluno.html">Área do Aluno</a></li>
                <li><a class="link_nav" href="/sair">Logout</a></li>
                {% else %}
                {% if user.perfil == 'P' %}
                <li><a class="link_nav" href="/professor.html">Área do Professor</a></li>
                <li><a href="/sair">Logout</a></li>
                {% else %}
                {% if user.perfil == 'C' %}
                <li><a class="link_nav" href="/admin/">Olá {{ user }} !</a></li>
                <li><a href="/sair">Logout</a></li>
                </div>
                {% endif %}
                {% endif %}
                {% endif %}
            </li>
			{% endif %}
        </ul>
              
                  
        <div class="row">

            <div class="column side">                                 
                {% block main %}

    			{% endblock %}
            </div>
            <div class="column middle">
                {% block main2 %}

    			{% endblock %}
            </div>
            <div class="column side">
                {% block main3 %}

    			{% endblock %}
            </div>
        </div>
                  
        <div class="footer">
            <img src="/static/impacta2.png ">
            <footer_font>
            <div>
                <br>
                © 2017 Faculdade Impacta Tecnologia . Todos os direitos reservados
            </div>
            </footer_font>
        </div>
    </body>
</html>