<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/logout.css">
		<title>ERRO</title>
	</head>
	<body>
		<div class="inner">
            <center>Você não tem permissão para esta página.</center><br>
            <center><img src="/static/2BvbQ.jpg" width="220" height="250" ></center>
			<a href="/index.html" class="button">Voltar para Página Inicial</a>
		</div>
</body>
</html>