<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% extends 'base.html' %}
        <meta charset="UTF-8">
        {% block title %}Lista de Cursos.{% endblock %}
    </head>
    
        {% block main2 %}
    <body>


<tipo_curso><h1><center>Pagina perfil do Prfessor</center></h1>
<center>
    Ola,{{ User }}
    <ul>
        {% for curso in cursos %}
        <a a href='/templates/detalhe_curso.html'class="link" class="{{ curso.classe }}">{{ curso.nome }} - {{ curso.tipo }}</a><br>
        <br>
        {% endfor %}
    </ul>    
</tipo_curso>
    
    {% endblock %}
</body>
</html>