<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        {% extends 'base.html' %}
                {% block title %}Página do Aluno{% endblock %}
                
</head>
<body>
    
        {% block main2 %}
        <center>
        <HP_comentario2><h2>Perfil Professor</h2></HP_comentario2>
        Informações do usuário: <br>
        Olá professor:{{ user.nome }} |<br>
        RA:{{ user.ra }} |<br>
        email:{{ user.email }} <br>
        disciplina: {{ user.professor.disciplina }}<br>
        </center>
        <br><br>
        {% endblock %}
</form>
</body>
</html> 